body {
  font-family: "Inter Tight", Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
  padding: 0 3rem;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

h2 {
  font-size: 2rem;
}

.header {
  margin: 0 0 1.5rem 0;
  font-size: 2.5rem;
  text-align: center;
}

.highlight {
  font-weight: bold;
  color: #ff6f61;
}

.link-button {
  font-family: "Inter Tight", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #23153c;
  text-decoration: none;
  border: solid;
  border-color: #ff6f61;
  border-width: 0.15rem;
  border-radius: 5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: background-color 0.2s linear;
  text-align: center;
}

.link-button:hover,
.link-button:focus {
  background-color: #ff6f61;
  cursor: pointer;
}

.socials {
  display: flex;
  gap: 1rem;

  &__icon {
    height: 2.5rem;
    width: auto;
  }
}

.icon {
  height: 1.5rem;
  width: auto;
}

.toggle-view {
  display: flex;
  justify-content: center;
  align-items: center;

  &__button {
    background: none;
    border: none;
    display: flex;
    color: #ff6f61;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
  }
}

footer {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin: 4rem 0 2rem 0;
}

@media only screen and (max-width: 56.25rem) {
  body {
    padding: 0 1.5rem 0 1.5rem;
  }
}

@media only screen and (max-width: 40rem) {
  .header {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: start;
  }

  .link-button {
    font-size: 0.9rem;
  }

  footer {
    margin: 1rem 0 1rem 0;
    font-size: 0.75rem;
  }
}
